################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
/.vs/EMS/DesignTimeBuild
/.vs/EMS/FileContentIndex
/.vs/EMS/v17/.suo
/.vs/EMS/config/applicationhost.config
